.container {
    display:flex;
    width:100vw;
    height: 100vh;
    background: #6776B9;
    display:flex;
    align-items: center;
    justify-content: center;
}

.todolist_body{
    width:50%;
    height: 50%;
    border-radius: 1rem;
    background:#F2F5FC;    
}

.todolist_title{
    width:100%;
    font-size:2rem;
    color:#3961b8;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(146, 156, 178, 0.3);
}

.input_contents {
    margin:0 auto;
    text-align: center;
}

.input_contents input:focus,
.input_contents input:active{
    outline: none;
}